<p id="notice"><%= notice %></p>
<div  class="card-panel blue lighten-5">
Welcome,   <i><%= @user.name %></i>
<br>
  <strong>Email:</strong>
  <%= @user.email %>
<p></p>
Hosting Events:<br>
<i>count</i> : <%= @user.hosting_events.count%><br>
<% @user.hosting_events.each do |e| %>
  <%= link_to "#{e.title}" , edit_event_path(e) %>
  @ <%= e.location %><br>
<% end %>
<p></p>
Attending Events:<br>
<i>count</i> : <%= @user.events.count%><br>
<% @user.events.each do |e| %>
    <%= link_to "#{e.title}" , event_path(e) %>
  @ <%= e.location %><br>
<% end %>
<br><br><br>

</div>
<%= link_to 'Host An Event', new_event_path,  class:'waves-effect  blue lighten-3 btn-small' %>
|
<%= link_to 'View Events to Attend', events_path,  class:'waves-effect  blue lighten-3 btn-small' %>


<br>
<p></p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
