<p id="notice"><%= notice %></p>

<div  class="card-panel blue lighten-5">

  Welcome,   <i><%= @user.name %></i>
<br>
  <strong>Email:</strong>
  <%= @user.email %>
<br><br><br>
  <div  class="card-panel pink accent-1">
    <h6>Hosting Events:</h6><br>
    <i>count</i> : <%= @user.hosting_events.count%><br>
    <ol>
    <% @user.hosting_events.each do |e| %>
        <li><%= link_to "#{e.title}" , edit_event_path(e)  %>
      @ <%= e.location %></li>
    <% end %>
    </ol>
  </div>
<br><br><br>
  <div  class="card-panel purple lighten-5">
    <h6>Attending Events:</h6><br>
    <i>count</i> : <%= @user.events.count%><br>
    <ol>
    <% @user.events.each do |e| %>
        <li><%= link_to "#{e.title}" , event_path(e) %>
      @ <%= e.location %></li>
    <% end %>
    </ol>
  </div>
<br><br><br>

</div>
<%= link_to 'Host An Event', new_event_path,  class:'waves-effect  blue lighten-3 btn-small' %>
|
<%= link_to 'View Events to Attend', events_path,  class:'waves-effect  blue lighten-3 btn-small' %>

<br>
<br><br><br>
<%= link_to 'Edit', edit_user_path(@user) ,  class:'waves-effect  blue lighten-3 btn-small' %> |
<%= link_to 'Back', users_path,  class:'waves-effect  blue lighten-3 btn-small' %>
