<p id="notice"><%= notice %></p>

<p>
  <strong>Rsvp:</strong>
  <%= @registration.rsvp %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @registration.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @registration.user.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @registration.event.title%>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
