<p id="notice"><%= notice %></p>

<%= render 'event', event: @event %>


<div  class="card-panel blue lighten-5">
  <strong>RSVPs:</strong>

<%= render 'registrations/registrations', registrations: @event.registrations %>
</div>
<%= link_to 'Edit Event', edit_event_path(@event) , class:'waves-effect  blue lighten-3 btn-small' %> |
<%= link_to 'Back', events_path,  class:'waves-effect  blue lighten-3 btn-small' %>
