<p id="notice"><%= notice %></p>

<%= render 'event', event: @event %>


<div  class="card-panel blue lighten-5">
  <strong>RSVPs:</strong>
  <% @event.registrations.each do |registration| %>
      <%= render 'registrations/registration', r: registration %>
    <%end %>
</div>
<%= link_to 'Edit Event', edit_event_path(@event) , class:'waves-effect  blue lighten-3 btn-small' %> |
<%= link_to 'Back', events_path,  class:'waves-effect  blue lighten-3 btn-small' %>
